%h1 LeanStats

%h2.h1-interest Hypotheses
%ul.hypotheses
  %li.pivot-or-persevere
    :markdown
      * **h<sub>0</sub>:** no validated learning takes place
      * **h<sub>1</sub>:** validated learning increases by adding hypotheses
      * **h<sub>2</sub>:** validated learning increases by adding metrics
      * **h<sub>3</sub>:** validated learning increases by adding statistics
      * **h<sub>4</sub>:** validated learning increases by adding analysis

%h2.h2-interest Metrics
%ul.metrics
  %li.sentiment
    .feeling.sad Learning, but not validating...
  %li.h1-interest
    .description Clicking on Hypotheses
    .value unknown
  %li.h2-interest
    .description Clicking on Metrics
    .value unknown
  %li.h3-interest
    .description Clicking on Statistics
    .value unknown
  %li.h4-analysis
    .description Clicking on Analysis
    .value unknown

%h2.h3-interest Statistics
%ul.statistics
  %li TODO: add stats

%h2.h4-interest Analysis
%ul.metrics
  %li TODO: add metrics

